<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Firma.PortalWWW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Firma.PortalWWW.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Firma.PortalWWW</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OpisFirmy">Opis firmy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HistoriaFirmy">Historia firmy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <hr/>
        <div class="container align-content-center">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <h2>Text 1</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto fuga accusamus maiores repudiandae velit culpa optio quos doloribus dicta modi hic esse voluptate, at excepturi ipsam beatae sapiente cumque.</p>
                        <p><button type="button" class="btn btn-primary">First button</button></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <h2>Text 2</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto fuga accusamus maiores repudiandae velit culpa optio quos doloribus dicta modi hic esse voluptate, at excepturi ipsam beatae sapiente cumque.</p>
                        <p><button type="button" class="btn btn-primary">Second button</button></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <h2>Text 3</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto fuga accusamus maiores repudiandae velit culpa optio quos doloribus dicta modi hic esse voluptate, at excepturi ipsam beatae sapiente cumque.</p>
                        <p><button type="button" class="btn btn-primary">Third button</button></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <h2>Text 4</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iusto fuga accusamus maiores repudiandae velit culpa optio quos doloribus dicta modi hic esse voluptate, at excepturi ipsam beatae sapiente cumque.</p>
                        <p><button type="button" class="btn btn-primary">Fourth button</button></p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/content/Smash-Burger.webp" class="card-img-top" alt="Smash-Burger">
                            <div class="card-body">
                                <h5 class="card-title">Smash Burger</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Mniam!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/content/Smash-Burger.webp" class="card-img-top" alt="Smash-Burger">
                            <div class="card-body">
                                <h5 class="card-title">Smash Burger</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Mniam!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/content/Smash-Burger.webp" class="card-img-top" alt="Smash-Burger">
                            <div class="card-body">
                                <h5 class="card-title">Smash Burger</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Mniam!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img src="~/content/Smash-Burger.webp" class="card-img-top" alt="Smash-Burger">
                            <div class="card-body">
                                <h5 class="card-title">Smash Burger</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Mniam!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Kris
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
